<meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
{% load static %}
<script src = "https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
<script src = "https://d3js.org/d3.v3.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.2/nv.d3.min.js"></script> 
<link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.2/nv.d3.min.css" type="text/css" />
{% load mptt_tags %}
{% load nvd3_tags %}
{% load extra_tags %}

<head>
	{% include_chart_jscss %}
</head>

CAPEC_MITRE
<br><br><br>

<!--
<form action = '^create/' method="post">
    "create라는 함수에 signal을 url경로를 포함하여 전달, 추후 urls.py와 views.py에서 처리해야함"
    {% csrf_token %}
        <button name="create" value="True">Create (ONLY for new crawling!!)</button>
</form>
--!>
<button onclick="window.location='products';">Products</button>
<br>

<div id = "container"></div>

<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
	Highcharts.chart('container', {
		chart : {
			type : 'pie',
		},
		title : {
			text : "Takeholders",
		},
		series: 
		[{
		data:[
			{% for i in dataLength %}
				{
					name: '{{ xdata|get_at_index:forloop.counter0 }}',
					y: {{ ydata|get_at_index:forloop.counter0 }},
				},
			{% endfor %}
		]
		}],
		center : [100, 80],
		size : 100,
		showInLegend : false,
	
	});
</script>

<div class = "table-responsive">
	<table class = "table table-bordered">
		{% recursetree vulners %}
			{% for key,value in counts.items %}
				{% if key == node.name %}
					<tr>
					<th>
						{% for i in value.1 %}
							{{"---"}}
						{% endfor %}
						{{ node.name }}
					</th>
					<td>{{ value.0 }}</td>
					</tr>
				{% endif %}
			{% endfor %}
			{% if not node.is_leaf_node %}
				<tr id="node-{{ node.pk }}" class="children{% if node.level == 0 %} top_level{% endif %}">
					{{ children }}
				</tr>
			{% endif %}
		{% endrecursetree %}
	</table>
</div>


<ul>
    {% recursetree vulners %}
        <li>
            {% if '-' not in node.id %}
                <b>{{ node.name }}</b>
              	<b>({{ node.id }})</b>
              	<b>{{ node.severity }}</b>
            {% else %}
                {{ node.name }}
                ({{ node.id }})
                {{ node.severity }}
            {% endif %}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
